body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculatorcontainer{
    background-color: #aaa;
    height: 700px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 20px;
}

.ecran{
    height: 200px;
    width: 400px;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.afisaj{
    font-size: large;
    font-weight: bold;
    background-color: #eee;
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
}

.afisajsiecran {
    margin-right: 20px;
    color: black;
    font-size: 24px;
    word-break: break-word;
    padding-left: 5px;
    direction: rtl;
    max-height: 150px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.butoanesuperior{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butoane{
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.elementcalculator{
    color: black;
    width: calc(300px/4);
    height: calc(300px/4);
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
    border: 4px solid rgba(255, 0, 0, 0.322);
}

.impartire, 
.inmultit,
.plus,
.minus,
.egal{
    background-color: #abc;
}

.impartire:active, 
.inmultit:active,
.plus:active,
.minus:active,
.egal:active{
    background-color: rgba(170, 187, 204, 0.336);
}

.elementcalculator:active{
    background-color: #eeeeee60;
}

.elementcalculator:nth-of-type(16){
    width: calc(2*300px/4 + 20px);
    border-radius: 40px;
}

.elementcalculator:nth-of-type(1){
    width: calc(2*300px/4 + 20px);
    border-radius: 40px;
    background-color: #aaf;
}

.elementcalculator:nth-of-type(1):active{
    background-color: rgba(170, 170, 255, 0.541);
}


.elementcalculator:nth-of-type(2){
    background-color: #faa;
}

.elementcalculator:nth-of-type(2):active{
    background-color: rgba(255, 170, 170, 0.63);
}